#content {
    margin: 25px;
}

grid, .grid {
    margin: 10px;
}

.spaceabove {
    margin-top: 25px;
}

button.minimize {
    padding: 0;
    margin: 0;
}

button.maximize {
    padding: 0;
    margin: 0;
}

.indented {
    margin-left: 20px;
}